{% extends "layout.html" %}

{% block title %}Howdy | {{ super() }}{% endblock %}

{% block content %}

<div class="main-wrapper">
  <div id="success-notification" class="hidden"></div>

  <h1>Welcome!</h1>

  <h4 id="now-playing">Choose a catagory and hit start!</h4>

  <div id="controller">
    <button id="prev-button">prev</button>
    <button id="next-button">next</button>
    <button id="stop-button">stop</button>
  </div>

  <form id="main-form">
    <div class="form-section">
      <label>Catagory: </label>
      <select id="category">
        <option value="tv">tv</option>
        <option value="movies">movies</option>
        <option value="anime">anime</option>
      </select>
    </div>

    <div class="form-section">
      <label>Number: </label>
      <input id="number" type="text" name="number">
    </div>

    <button>Start</button>
  </form>
</div>

{% endblock %}
